body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: 	#8f9082;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #4e4e4e;
  color: white;
  box-shadow: 0px 5px 5px #232323;
}
a{text-decoration: none;}

.title {
  display: flex;
  margin-bottom: 1%;
  display: block;
  color: white;
  font-size: 40px;

}

.hero {
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../../Assets/pexels-eberhard-grossgasteiger-1287075.jpg");
  background-size: cover;
  background-position: center;
}

.subtitle {
  color: white;

  font-size: 35px;
  display: flex;
  justify-content: flex-end;


  width: 100%;

  margin-top: 150px;


}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  gap: 2em;

}

nav a {
  background-color: unset;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
 
}

nav a:hover {
  color: black;
  border-bottom: solid 3px black;
}

.row {
  /* flex-basis: 75%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.container-heading {
  /* float: right; */
  font-size: 40px;
  color:	#dfd4c2;

}
.column-about {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: auto;
}

.column-avatar {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
padding-left: 15px;
}

.column-avatar img{
  vertical-align: middle;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}



.column-sm {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-end;
  /* padding: 15px; */
  padding-right: 15px;
  width: 5%;
  text-align: right;
  word-spacing: 9999999px;
  /* margin-top: -5px; */
}

.column-sm::after{
  content:'';
  border-right: solid 	#dfd4c2 3px;
  padding-left: 15px;
}


.column-lg {
  display: flex;
  flex-direction: row;
  flex-basis: 75%;
  padding-left: 20px;

}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  float: right;
  font-size: 16px;
  font-weight: 500;

}

.brady{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-left: 15px;
}

.first-app-container {
 transition: opacity 1s;
}

.first-app-container:hover {
 opacity:  0.5;
}

.first-app-container {
  display: flex;
  height: 35em;
  background-image: url('../../Assets/pexels-antonio-batinić-4164418.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px #232323 solid;
border-radius: 1%;


}

.first-app-text {
 vertical-align: middle;
 margin-top: auto;
 margin-bottom: auto;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 25px;
  
 
  
}

.image-overlay{
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  
  height: 100%;
}

.second-app {
 background-image: url('../../Assets/drift.jpg');
 transition: opacity 1s;
 
}

.second-app:hover {
 opacity:  0.5;
}

.app-text{
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
   color: white;
   font-size: 28px;
   font-weight: 700;
   text-transform: uppercase;
   padding-left: 25px;
   
}

.app-container {
  
  display: flex;
  width: 50%;
  height: 100%;
  text-align: center;
  color: white;
  border: #232323 solid 5px;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.app-row {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  height: 10em;
}

.app-row a {
  display: contents;
  width: 100%;
}

.second-app-text {
  
  
  color: white;
}

.third-app {
  background-image: url('../../Assets/aeroplane.jpg');
  
 transition: opacity 1s;
}

.third-app:hover {
 opacity:  0.5;
}

.fourth-app {
  background-image: url('../../Assets/range.jpg');
  transition: opacity 1s;

}

.fourth-app:hover {
 opacity:  0.5;
}

.fifth-app {
  background-image: url('../../Assets/lightbulb.jpg');
  transition: opacity 1s; 
}

.fifth-app:hover {
 opacity:  0.5;
}

.contact {
  width: 75%;
  display: flex;
  flex-direction: column;
 padding: 39px;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;

}
.contact a {
  
  color: #232323;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  
}

.contact:hover {
  color: black;
}







@media screen and (max-width: 1050px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }

  .row {
    flex-direction: column;

  }
  .first-app-text, .app-text{
  padding-left: none;
}


  .column-sm {
    justify-content: center;
    flex-basis: 100%;
    width: 100%;
    
    word-spacing: 0px;
  }

  .column-sm::after {
    border: none;
    padding-left: 0;
  }

  .column-lg,.contact,.container-heading,.column-avatar, .column-about,.brady {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-left: 0;

  }



  .subtitle {
    justify-content: center;

  }
}